.login-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login-box {
    width: 100%;
    max-width: 25rem;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.btn{
    width: 100%;
}

.form-group{
    margin: 0rem 0rem 1rem;
}

label{
    margin: 0rem 0rem .5rem;
}   

.login-box{
    border: none;
}
